<div class="Auth">
  <div class="container" [ngClass]="{'right-panel-active': mode !== 'signIn'}" id="container">

    <div class="form-container sign-up-container">
      <app-sign-up></app-sign-up>
    </div>

    <div class="form-container sign-in-container">
      <app-login></app-login>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>{{'auth.sign-up.WELCOME' | translate}}</p>
          <button type="button" class="ghost auth-button" (click)="mode = 'signIn'">
            {{'auth.log-in.TITLE' | translate}}
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>{{'auth.log-in.WELCOME' | translate}}</p>
          <button type="button" class="ghost auth-button" (click)="mode = 'SignUp'">
            {{'auth.sign-up.TITLE' | translate}}
          </button>
        </div>
      </div>
    </div>

  </div>
</div>