/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "IRANSans";
  src: url('./assets/fonts/IRANSans_Light.ttf') format('truetype');
}

html,
body {
  margin: 0;
  font-family: 'IRANSans', 'Montserrat', sans-serif;
}

.snackbar-warning {
  background: #FFCD07;

  .mat-button-wrapper {
    color: black !important; // action text color
  }
}

.snackbar-danger {
  background: #E33545;

  .mat-button-wrapper {
    color: black !important; // action text color
  }
}